{{!-- NAVBAR AND LOGO --}}
<div id="logo">
    <img src="images/icon.png" alt="icon" width="180">
</div>

<nav class="navbar navbar-expand-lg navbar-light mt-5 py-3">
    <div class="container">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-custom-red"><a class="nav-link" href="/scrape">Scrape New
                            Articles!</a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5 mt-lg-4">
    {{!-- Header --}}
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Mongo Scraper</h1>
            <p class="font-italic">New York Times Edition</p>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="divider"></div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>

    {{!-- Articles --}}
    <div class="row mt-5">
        <div class="col-12">
            {{#if article}}
            <div id="message" class="py-4 text-center rounded-pill">Articles</div>
            <div class="articles">
                <div class="row">
                {{#each article}}
                    <div class="col-12 col-lg-6 my-3">
                        <div class="article rounded-lg text-center py-3">
                            {{headline}}
                            <div class="divider mb-3 mt-1"></div>
                            <p class="summary">{{summary}}</p>
                            <a href="{{url}}" target="blank">Link to Article</a>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
            {{else}}
            <div id="noArticlesMessage" class="text-center rounded-pill">
                <p class="py-4">Uh Oh. Looks like we don't have any new articles yet.</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>