body {
    background: #93c7d5;
    font-family: 'Calistoga', cursive;
    font-size: 20px;
}

.navbar {
    position: relative;
    background: #ebe3c5;
    padding-left: 200px;
}

#logo {
    position: absolute;
    top: 0px;
    z-index: 2;
    left: 20px;
}

.btn-custom-red {
    background: #e44f50;
}

.divider {
    border-bottom: solid #333333 2px;
}

#noArticlesMessage {
    background:#fdc842;
}